*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 80px;
    font-size: 20px;
}



.reiniciar{
    height: 40px;
    background-color: #00bfa5;
}

.botoes{
    height: 40px;
    width: 40px;
}

button{
    color: antiquewhite;
}

.b1{
    background-color: #F44336;
}

.b2{
    background-color: #E91E63;
}

.b3{
    background-color: #9C27B0;
    
}

.b4{
    background-color: #673AB7;
}

.b5{
    background-color: #559cd6;
}

.b6{
    background-color: #3F51B5;
}
/*
button{
    width: 100px;
    height: 40px;
    position: absolute;
    left: calc(50vw - 50px);
    top: calc(50vh - 20px);
    cursor: pointer;
}*/